# Remove the "X-Powered-By" header from responses
<IfModule mod_headers.c>
    Header always unset X-Powered-By
    Header unset X-Powered-By
</IfModule>

# Gzip the response
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/plain
    AddOutputFilterByType DEFLATE text/html text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/javascript application/json
    AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>

# Mode rewrite is enabled
<IfModule mod_rewrite.c>
    # Disable directory indexing
    Options -Indexes

    # Rewrite URLs
    RewriteEngine On

    # Redirect trailing slashes if not a folder
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Rewrite URL requests to our application
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
